/* fonts raleway */
@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

/* MINI RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
}

main{
    max-width: 1440px;
    padding: 0 50px 0 50px;
    margin: auto;
}

body {
	background-color: #fff;
	color: #000;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: raleway, Arial, sans-serif;
    margin : 0;
	padding: 0;
}

h2{
    font-size: 22px;
}

/*  HEADER LOGO + MENU */

header{
    display: flex;
    margin-bottom: 30px;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}


        header nav ul{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            width: 400px
        }

                header nav ul li{
                    list-style-type: none;
                    width: 100%;
                }

                        header nav ul li a{
                            color: #000;
                            text-decoration: none;
                        }

                                header nav ul li h1{
                                    margin: 0;
                                    margin-top: 50px;
                                }

                                        header nav ul li:not(:first-child){
                                            max-width: 160px;
                                            text-align: center;
                                        }

                                                header nav ul li:not(:first-child) a{
                                                 display: flex;
                                                 justify-content: center;
                                                 align-items: flex-end;
                                              }

                                                     header nav ul li a:hover{
                                                        color:#0065FC;
                                                      }

                                                            header nav ul li:last-child a{ 
                                                                font-weight: 700;
                                                            }


/* BODY */

.titre2{
    margin: 0 auto;
}

    .titre2 h2{
        font-size: 20px;
    }


/* zone de saisie + bouton de recherche */

form{
    display: flex;
    margin-bottom: 30px;
}

#zonedesaisie{
    height: 40px;
    max-width: 250px;
    width: 70%;
    padding: 10px;
    font-weight: 700;
    border: 2px solid#F2F2F2;
    border-right: none;
}

.bouton{
     background-color: #0065FC;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border: 2px solid#F2F2F2;
     color: #fff;
     font-weight: 700;
     cursor: pointer;
}

.bouton a:focus{
    background-color: #0065FC;
}

.bouton i{
    display: none;
}

.iconemap{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
     
/* FILTRES */

.enveloppe_filtres{
    display: flex;
    margin-bottom: 30px;
}

    .filtre{
        font-weight: 700;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

        .filtre_text{
            font-weight: 700;
            display: flex;
            align-items: center;
            font-size: 18px;
            margin: 0;
        }

.icone{
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}

.fusion{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-left: 20px;
    cursor: pointer;
}

    .fusion:hover{
        background-color: #DEEBFF;
        border-radius: 50px;
    } 
        
        .fusion:hover .icone{
            background-color: #DEEBFF;
        }

.iconecercle{
    background-color: #fff;
    color: #0065FC;
}

.infor{
     padding-left: 10px; 
     font-size: 14px;
     margin: 0px;
}

.info{
    display: flex;
    margin-bottom: 30px;
}


/* BLOC HORIZONTAL DE 6 CARDS */

.container{
    margin-bottom: 50px;
    display:flex;

}

.bloc_h{
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 20px;  
    width: 70%;
}

    .bloc_h img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
        width: 100%;
        height: 115px;
        object-fit: cover;
    }


.cards_h{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px 10px;
    min-height: 500px;
}

    .card_h{
        background-color: #fff;
        padding: 4px ;
        border-radius: 15px;
        width: calc( ( 100% - 90px ) / 3 );
        box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
        position: relative;
    }
        .card_h a {
                color: #000;
                text-decoration: none; 
            }

            .description_h{
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                max-width: 250px;
                padding-top: 0px;
                padding-left: 10px;
            }

                .description_h h3{
                    margin: 0px;
                    font-size: 16px;
                }

                .description_h p{
                    margin-top: 5px;
                    font-size: 14px;
                    margin-bottom: 35px;
                }

                .star3{
                    color: #0065FC;
                    font-size: 12px;
                    position: absolute;
                    bottom: 5px;
                    margin-top: 5px;
                }

                .star3 i:nth-child(4),
                .star3 i:nth-child(5)
                {
                    color: #ddd;
                }

                .star4{
                    color:#0065FC;
                    font-size: 12px;
                    position: absolute;
                    bottom: 5px;
                    margin-top: 5px;
                }

                .star4 i:last-child {
                color: #ddd;
                }

                .star5{
                    color:#0065FC;
                    font-size: 12px;
                    position: absolute;
                    bottom: 5px;
                }


/* BLOC VERTICAL DE 3 CARDS */


.bloc_v{
    background-color: #F2F2F2;
    border-radius: 15px; 
    padding: 20px;
    margin-left: 30px;
    width: 30%;
}

.bloc_v img{
    width: calc( 100% / 3 );
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.cards_v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    padding: 20px 10px;
}

    .cards_v a{
        text-decoration: none;
        color: #000;
    }

        .card_v{
            background-color: #fff;
            display: flex;
            padding: 4px ;
            border-radius: 15px;
            box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
            height: 135px;
            position: relative;
        }

            .description_v{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px; 
                width: 250px;
                padding-top: 0px;
                padding-left: 20px;
            }

                .description_v p{
                    margin: 5px 0px 20px 0px;
                    font-size: 14px;
                    
                }

                .description_v h3{
                    margin: 5px 0px 0px 0px;
                    font-size: 16px
                }


h4{
    margin-top: 10px;;
}


.titre_icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*                              Bloc   3 */

.marseille{
    margin-bottom: 20px;
    display: block;
}

.blocs {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

    .bloc3 {
        margin-right: 30px;
        min-height: 400px;
        width: calc(100% / 4);
    }

        .bloc3:nth-child(4) {
            margin-right: 0;
        
        }
            .bloc3 a {
                text-decoration: none;
            }

                .cardz{
                    display: flex;
                    flex-direction: column;
                    color:#000;
                }

                    .cardi,
                    .cardi2,
                    .cardi3,
                    .cardi4,
                    .cardi5,
                    .cardi6 {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px; 
                        height: 400px;
                        width: 100%;
                        object-fit: cover;
                    }

                    .cardi2 {
                        height: 200px;
                    }
                    .cardi3 {
                        height: 120px;
                        margin-top: 24px;
                    }
                    .cardi4{
                        height: 400px;
                    }
                    .cardi5 {
                        height: 160px;
                    }
                    .cardi6 {
                        height: 160px;
                        margin-top: 24px;
                    }

                    .bloc3 p{
                        border-bottom-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
                        height: 40px;
                        margin-top: 0px;
                        padding-left: 10px;
                        display: flex;
                        align-items: center; 
                    }


/* FOOTER */
footer{
    padding: 40px 50px 50px 50px;
    background-color: #f2f2f2;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
}

        footer ul{
        margin: 0;
        padding: 0;
        width: calc( 100% / 3 );
     }

            footer ul li{
                list-style-type: none;
                margin-bottom: 10px;
            }

                    footer ul li:last-child{
                        margin-bottom: 0;
                    }

                            footer ul li:first-child{
                                margin-bottom: 20px;
                                font-weight: 700;
                            }
    
                                    footer ul li a{
                                    text-decoration: none;
                                    color: #000;
                                    }

                                            footer ul li a:hover{
                                            text-decoration: underline;
                                            }

                                            
/* RESPONSIVE TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1055px){
    

    .enveloppe_filtres{
        flex-wrap: wrap;
    } 

        .filtre_text{
            width: 100%;
        }

        .fusion{
            margin: 5px 15px 5px 0;
        } 
    
    .container{
        display: flex;
        flex-wrap: wrap;
    }

        .bloc_h{
            width: 100%;
        }

            .cards_h{
                min-height: 520px;
            }

        .bloc_v{
            width: 100%;
            margin: 30px 0 0 0;
        }

    .blocs {
        flex-wrap: wrap;
    }

        .bloc3 {
            margin-right: 0;
            width: calc(50% - 15px);
        }
            .bloc3:nth-child(1) {
                margin-bottom: 30px;
            }
            .bloc3:nth-child(2) {
                margin-bottom: 30px;
            }

    footer{
        justify-content: space-between;
        padding: 50px;
    }

        footer ul{
            width: auto;
        }
}


                                            
/* RESPONSIVE MOBILE */
 @media screen and (min-width: 320px) and (max-width: 768px){

    main{
        padding: 0 20px 0 20px
    }
         header{
            position: relative;
        } 

            nav{
                margin-top: 100px;
                margin-bottom: 20px;
                margin-right: 0;
                width: 100%;
            }  

                 header nav ul{
                    width: 100%;
                } 

                    header nav ul li :first-child{
                        width: 50%;
                        position: absolute;
                        left: 20px;
                        justify-content: center;
                    }

                    header nav ul li:nth-child(2){
                        width: 50%;
                        position: absolute;
                        right: 0px;
                        justify-content: center;
                    }  

                    header nav ul li:last-child{
                        position: absolute;
                        top: 35px;
                        right: -20px;
                    } 

    .bouton{
        border-radius: 10px;
        position: relative;
        left: -25px;
    }

        .bouton i{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            #zonedesaisie{
                height: 60px;
            }

            span{
                display: none;
            }

    .enveloppe_filtres{
        flex-wrap: wrap;
    } 

        .filtre_text{
            width: 100%;
        }

        .fusion{
            margin: 5px 15px 5px 0;
        } 

        .info{
            margin-bottom: 0px;
        }

    .container {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

        .bloc_h{
            padding: 20px 0 0 0px;
            width: 100%;
            background-color: #fff;
        }

            .bloc_h h2{
                text-align: center;
            }

            .bloc_h img{
                height: 130px;
            }

                .cards_h {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    padding-bottom: 0;
                }

                    .card_h{
                        margin-bottom: 30px;
                        width: 100%;
                    }

        .bloc_v{
            border-radius: 0px;
            margin: 30px 0 0 0;
            width: 100%;
            height: 640px;
            padding-bottom: 20px;
            order: -1;
        } 

            .bloc_v img{
                max-width: 250px;
                width: 40%;
            }

                .cards_v{
                    padding: 10px 0 0 0;
                }

                    .card_v{
                        height: 190px;
                        margin-top: 30px;
                        height: 150px;
                    }

                    .cards_v a:first-child .card_v{
                        margin-top: 0;
                    }


                        .description_v{
                            position: relative;
                        }

                            .description_v .star4, .description_v .star5{
                                position: absolute;
                                bottom: 10px;
                            }

    .marseille{
        margin-bottom: 30px;
    }

    .blocs{
        display: block;
    }

        .bloc3 {
            width: 100%;
            min-height: unset;
    }
        .bloc3:nth-child(1) {
            margin-bottom: 30px;
        }
        .bloc3:nth-child(2) {
            margin-bottom: 30px;
        }
        .bloc3:nth-child(3) {
            margin-bottom: 30px;
        }
        .bloc3:nth-child(4) {
            margin-bottom: 30px;
        }

            .cardi,
            .cardi2,
            .cardi3,
            .cardi4,
            .cardi5,
            .cardi6{
                height: 190px;
            }

    footer{
        padding: 50px 30px 50px 30px;
        flex-direction: column;
    }
    
        footer div:not(:first-child){
            margin-top: 40px;
        }

            footer ul{
                padding: 0 0 35px 0;
                width: auto;
            }
   }
   
/* FIN RESPONSIVE MOBILE */





 

