/* MINI RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
}


html,
body {
	margin : 0;
	padding: 0;
	border : 0;
	vertical-align: baseline;
}

html {
	height: 100%;
	font-size: 62.5%;
	cursor: default;
}

body {
	background-color: #fff;
	color: #000;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Raleway', Arial, sans-serif;
}



/*  HEADER LOGO + MENU */

nav{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
}


        header nav ul{
            padding: 0;
            margin: 0;
            display: flex;
        }

                header nav ul li{
                    list-style-type: none;
                    width: 100%;
                }

                        header nav ul li a{
                            color: #000;
                            text-decoration: none;
                            display: block;
                            height: 100%;
                
                        }

                                header nav ul li h1{
                                    margin: 0;
                                    margin-top: 50px;
                                }

                                        header nav ul li:not(:first-child){
                                            max-width: 160px;
                                            text-align: center;
                                        }

                                                header nav ul li:not(:first-child) a{
                                                 display: flex;
                                                 justify-content: center;
                                                 align-items: flex-end;
                                              }

                                                     header nav ul li a:hover{
                                                        color:#0065FC;
                                                      }

                                                            header nav ul li:last-child a{ 
                                                                font-weight: 700;
                                                            }

                                                                .menu_mobile{
                                                                    display: none;
                                                                }

/* BODY */

.titre2 h2{
    display: flex;
    margin: 0 auto; 
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
    font-size: 20px;
}

/*.titre2 h2{
    margin: 0;
}*/



.zone_texte{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
} 

/* zone de saisie + bouton de recherche */

form{
    display: flex;
    padding: 0 50px 0 50px; 
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 30px;

}


#zonedesaisie{
    height: 40px;
    width: 250px;
    border-left: none;
    padding: 10px;
    font-weight: 700;
    border: 2px solid#F2F2F2;
    
}

.bouton{
     background-color: #0065FC;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border: 2px solid#F2F2F2;
     color: #fff;
     font-weight: 700;
}

.iconemap{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
     
/* FILTRES */

.enveloppe_filtres{
    display: flex;
    padding: 0 50px 0 50px; 
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 30px;

}

.filtre_text{
    font-weight: 700;
    display: flex;
    align-items: center;
}


.fusion{
    display: flex;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-left: 20px;
    min-width: 100px;
    cursor: pointer;

}

.filtre{
    font-weight: 700;
    padding: 0 10px;
    display: flex;
    align-items: center;
    

}

.icone{
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}
.fusion:hover{
    background-color: #DEEBFF;
    border-radius: 50px;
} 

.fusion:hover .filtre{
    background-color: #DEEBFF;
} 
    
.fusion:hover .icone{
    background-color: #DEEBFF;
}

.info{
    display: flex;
    padding: 0 50px 0 50px; 
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 30px;
}

.iconecercle{
    background-color: #fff;
    color: #0065FC;

}

.infor{
     padding-left: 10px; 
     font-size: 14px;
}


/* BLOC HORIZONTAL DE 6 CARDS */

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 50px; 
    display:flex;

}

.bloc_h{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    padding: 20px 0px 30px 30px;
    width: 70%;  
}

.cards_h{
    display: flex;
    flex-wrap: wrap;

}

.card_h{
    background-color: #fff;
    padding: 4px ;
    border-radius: 15px;
    width: calc( ( 100% - 90px ) / 3 );
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    margin: 0px 30px 30px 0px;
    
}

.bloc_h img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.description_h{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 250px;
    padding-top: 0px;
    padding-left: 10px;
}

.description_h h3{
    margin: 0px;
}

.description_h p{
    margin: 5px 0px;
}

.star3{
    color: #0065FC;
}

.star3 i:nth-child(4),
.star3 i:nth-child(5)
{
    color: #ddd;
}

.star4{
    color:#0065FC;
}

.star4 i:last-child {
color: #ddd;
}

.star5{
    color:#0065FC;
}


/* BLOC VERTICAL DE 3 CARDS */


.bloc_v{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px; 
    padding: 20px 30px 20px 30px;
    margin-left: 30px;
    width: 30%;
}

.card_v{
    background-color: #fff;
    padding: 4px ;
    border-radius: 15px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    margin: 0px 30px 30px 0px;
    height: 150px;
    width: 100%;
    display: flex;


}


.bloc_v img{
    width: 130px;
    height: 140px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}


.description_v{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    width: 250px;
    padding-top: 0px;
    padding-left: 20px;

}

.description_v p{
    margin: 5px 0px 45px 0px;
    
}

.description_v h3{
    margin: 5px 0px 0px 0px;
}



h4{
    margin-top: 10px;
    font-size: 18px;
}



.titre_icone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*                              Bloc   3 */

.blocs{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 50px; 
    display: flex;
}

.bloc3{
    display: flex;
    flex-direction: column;
}


.cardz{
    box-shadow: 0px 5px 0px -5px rgba(0,0,0,0.6);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
}



.cardi{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 400px;
    width: 300px;
    display: flex;
    object-fit: cover;
}

.bloc3 p{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    height: 40px;
    width: 300px;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center; 
}

.marseille{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    margin-bottom: 20px;
    
}



.cardi2{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 200px;
    width: 300px;
    display: flex;
    object-fit: cover;
}

.text2{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    height: 40px;
    width: 300px;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.cardi3{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 120px;
    width: 300px;
    display: flex;
    margin-top: 24px;
    object-fit: cover;
}


.text3{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    height: 40px;
    width: 300px;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}


.cardi4{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 400px;
    width: 300px;
    display: flex;
    object-fit: cover;
}

.text4{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.6);
    height: 40px;
    width: 300px;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    align-items: center; 
}

.cardi5{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 160px;
    width: 300px;
    display: flex;
    object-fit: cover;
}

.text5{
    margin-bottom: 40px;
}

.cardi6{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 160px;
    width: 300px;
    display: flex;
    object-fit: cover;
}



/* FOOTER */
footer{
    padding: 40px 50px 50px 50px;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    display: flex;

}

    footer > div{
        width: calc( 100% / 3 );
    }

        footer div ul{
        margin: 0;
        padding: 0;
     }

            footer div ul li{
                list-style-type: none;
                margin-bottom: 10px;
            }

                    footer div ul li:last-child{
                        margin-bottom: 0;
                    }

                            footer div ul li:first-child{
                                margin-bottom: 20px;
                                font-weight: 700;
                            }
    
                                    footer div ul li a{
                                    text-decoration: none;
                                    color: #000;
                                    }

                                            footer div ul li a:hover{
                                            text-decoration: underline;
                                            }
                                            
      
                                            /* RESPONSIVE MOBILE */
                                            
 @media screen and (min-width: 320px) and (max-width: 767px){
   header nav ul li:nth-child(2),
   header nav ul li:nth-child(3){
       display: none;
   }

   .menu_mobile{
       display: flex;
       list-style-type: none;
       padding: 0px;
   }

   .menu_mobile li{
       width: calc( 100% / 2 );
       align-items: center;
       text-align: center;
   }


   .menu_mobile li a{
       text-decoration: none;
       font-weight: 700;
   }

   form{
       justify-content: center;
   }

   nav,
   .titre2 h2,
   .zone_texte,
   form,
   .enveloppe_filtres,
   .info{
    padding: 0 30px 0px 30px;

   }

   .filtre_text{
       width: 100%;
   }

   .enveloppe_filtres{
       flex-wrap: wrap;
   }

   .fusion{
       margin-left: 0px;
       margin-right: 15px;
       margin-top: 5px;
       margin-bottom: 5px;
   }

   header nav ul li:not(:first-child) a{
       justify-content: flex-end;
   }

   footer{
    padding: 50px 30px 50px 30px;
    flex-direction: column;
   } 

   footer div{
       width: 100%;
   }

   footer div:not(:first-child){
       margin-top: 40px;
   }

   

   
} /* FIN RESPONSIVE MOBILE */

@media screen and (min-width: 320px) and (max-width: 380px){
    #zonedesaisie{
        width: 140px;
    }
}



 

